<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuheng.mapper.DishFlavorMapper">
    <!--  新增菜品口味  -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into dish_flavor
        (name, value, dish_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.value}, #{item.dishId})
        </foreach>
    </insert>

    <!--  根据菜品id查询口味  -->
    <select id="getFlavorByDishId" resultType="com.liuheng.entity.DishFlavor">
        select * from dish_flavor where dish_id = #{id}
    </select>

    <delete id="deleteByDishId">
        delete from dish_flavor where dish_id = #{dishId}
    </delete>
    
    <select id="selectBatchByIds" resultType="com.liuheng.entity.DishFlavor">
        SELECT * FROM dish_flavor
        WHERE dish_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>