<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuheng.mapper.ShoppingCartMapper">

    <resultMap id="ShoppingCartResultMap" type="com.liuheng.entity.ShoppingCart">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="image" property="image"/>
        <result column="user_id" property="userId"/>
        <result column="dish_id" property="dishId"/>
        <result column="setmeal_id" property="setmealId"/>
        <result column="dish_flavor" property="dishFlavor"/>
        <result column="number" property="number"/>
        <result column="amount" property="amount"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="list" resultMap="ShoppingCartResultMap">
        SELECT * FROM shopping_cart
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="dishId != null">
                AND dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                AND setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null and dishFlavor != ''">
                AND dish_flavor = #{dishFlavor}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>